@charset "utf-8";

/* ––––––– FORM ––––––– */

form.regform {
   font-family: sans-serif;
}

div.formRow {
   margin: 10px 0px;
}

form input {
   padding: 1em;
}

::placeholder {
   font-size: larger;
}

/* ––––––– BUTTONS ––––––– */


input[type='submit'] {
   background-color: white;
   color: #b19aca;
   text-transform: uppercase;
   border: none;
   width: 100px;
   margin-bottom: 1.5em;
}

input[type='submit']:hover {
   cursor: pointer;
   opacity: 0.7;
}

#reset {
   margin-right: 15px;
}


/* ––––––– VALIDATION ––––––– */

input#email:focus:valid {
   border-color: 2px solid green;
}

input#email:focus:invalid {
   border-color: 2px solid red;
}

/* ––––––– JAVASCRIPT CLICK ––––––– */

.submit {
   width: 100%;
   margin: 0 auto;
}